<agm-map #map [latitude]="+searchLocation?.lat || citiesService.centerUSCoords.lat"
  [longitude]="+searchLocation?.lng || citiesService.centerUSCoords.lng" [zoom]='zoom' [minZoom]='minZoom'
  [usePanning]="true" (zoomChange)="zoomChanged($event)">
  <div *ngFor="let l of listings">
    <agm-marker [latitude]="l.address.lat" [longitude]="l.address.lon" (markerClick)="onMarkerClick(l.propertyId)"
      [iconUrl]="l.propertyId == selectedListingId ? 'assets/icons/red-circle-18x18.svg' : getIconUrlFromPropertyType(l.propertyType)"
      [zIndex]="l.propertyId == selectedListingId ? 2 : 1">
    </agm-marker>
  </div>
</agm-map>
