.quiz-option-item {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  display: flex;

  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:hover {
    background-color: #f9f9f9;
  }

  &.selected {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
  }

  &.disabled {
    background-color: var(--border-color);
    cursor: default;
  }
}

.quiz-option-item-sm {
  height: 48px;
  padding: 8px 24px 8px 8px;
  align-items: center;
  font-size: 0.9em;

  .quiz-icon {
    height: 32px;
    width: 32px;
    margin-right: 12px;
  }
}

.quiz-option-item-md {
  height: 160px;
  width: 256px;
  padding: 24px 16px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .quiz-icon {
    height: 64px;
    width: 64px;
  }
}

.quiz-option-item-lg {
  height: 192px;
  width: 312px;
  padding: 24px 16px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .quiz-icon {
    height: 84px;
    width: 84px;
  }
}

@media only screen and (max-width: 991px) {
  .quiz-option-item-md {
    height: 136px;
    width: 148px;

    .quiz-icon {
      height: 52px;
      width: 52px;
    }
  }

  .quiz-option-item-lg {
    height: 160px;

    .quiz-icon {
      height: 72px;
      width: 72px;
    }
  }
}
