.property-list-item {
  cursor: pointer;
}

.property-img-wrapper {
  border-radius: var(--border-radius);
  padding-top: 70%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.property-img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.property-line-address {
  font-weight: bold;
  font-size: 1.05em;
  color: var(--text-color);
}

.property-other-address {
  font-weight: normal;
  font-size: 0.85em;
  color: var(--hint-color);
}

.property-price {
  font-weight: normal;
  font-size: 1.1em;
  color: var(--success);
}

.stat-icon {
  height: 14px;
  width: 14px;
}

.stat-value {
  font-size: 0.80em;
  color: var(--hint-color);
}

.line-text {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
