<div class="d-flex flex-column" id="{{property.propertyId}}">
  <div class="property-img-wrapper mb-3">
    <img class="property-img" alt="">
  </div>
  <span class="property-line-address mb-1">{{ property.address.line }}</span>
  <span class="property-other-address mb-3">{{ property.address.neighborhood_name }},
    {{ property.address.city }}</span>
  <span class="property-price">{{ property.price | currency }}</span>

  <hr class="my-2 w-100">

  <div class="d-flex align-items-center">
    <div class="mr-4">
      <img class="stat-icon mr-2" src="assets/icons/mattress.svg" alt="">
      <span class="stat-value">{{ property.beds }}</span>
    </div>
    <div class="mr-4">
      <img class="stat-icon mr-1" src="assets/icons/toilet.svg" alt="">
      <span class="stat-value">{{ property.baths + property.baths_full }}</span>
    </div>
    <div>
      <img class="stat-icon mr-2" src="assets/icons/sqfoot.svg" alt="">
      <span class="stat-value">{{ property.sqfeet | number }} ft<sup>2</sup></span>
    </div>
  </div>
</div>
