<h1 class="text-center mb-4 h1-responsive">Question {{ quiz.currentQuestion }}</h1>

<div [ngSwitch]="quiz.currentQuestion">
  <div *ngSwitchCase="EQuizQuestions.SaleType">
    <app-quiz-question-sale-type [quiz]="quiz"></app-quiz-question-sale-type>
  </div>
  <div *ngSwitchCase="EQuizQuestions.PropertyTypes">
    <app-quiz-question-property-type [quiz]="quiz"></app-quiz-question-property-type>
  </div>
  <div *ngSwitchCase="EQuizQuestions.Bedrooms">
    <app-quiz-question-bedrooms [quiz]="quiz"></app-quiz-question-bedrooms>
  </div>
  <div *ngSwitchCase="EQuizQuestions.Price">
    <app-quiz-question-price [quiz]="quiz"></app-quiz-question-price>
  </div>
  <div *ngSwitchCase="EQuizQuestions.Location">
    <app-quiz-question-location [quiz]="quiz"></app-quiz-question-location>
  </div>
  <div *ngSwitchCase="EQuizQuestions.amenities">
    amenities
  </div>
</div>
