<app-initial-city-location-chooser *ngIf="screenSearch && !screenSearch?.location"
  (searchLocationChanged)="searchLocationChanged($event)">
</app-initial-city-location-chooser>

<div *ngIf="screenSearch?.location">
  <app-search-location-filter [searchLocation]="screenSearch?.location"
    (searchLocationChosen)="searchLocationChanged($event)" [listings]="listings">
  </app-search-location-filter>

  <!-- <div class="d-flex align-items-center mt-4">
    <app-price-filter class="d-block mr-2"></app-price-filter>
    <app-beds-filter class="d-block mr-2"></app-beds-filter>
    <app-property-type-filter class="d-block mr-2"></app-property-type-filter>
    <app-more-filters class="d-block mr-2" (moreFiltersClicked)="toggleFullFilterWindow()"></app-more-filters>
  </div>

  <div *ngIf="showFullFilterWindow">
    <hr class="my-4">

    <button class="btn btn-primary" (click)="closeFullFilterWindow()">See your results</button>
  </div> -->
</div>
