<div class="d-flex">
  <h2 class="mb-0 mr-2 font-weight-normal results-text">
    {{ listings?.length || 0 }} Results <span class="hint-color">in</span></h2>
  <div class="d-flex">
    <input type="text" class="search-location-text-input" [(ngModel)]="citySearchPrefix" (ngModelChange)="getCities()"
      [placeholder]="getFullStringOfLocation(searchLocation)">
  </div>
  <button class="ml-2 btn btn-sm" *ngIf="showCancelButton" (click)="resetForm()">Cancel</button>
</div>

<div class="wrapper mx-auto d-flex flex-column">
  <div class="align-self-stretch mt-4" *ngIf="searchLocations?.length > 0">
    <div class="list-group">
      <div class="list-group-item list-group-item-select list-group-item-lg"
        *ngFor="let searchLocation of searchLocations" (click)="chooseLocation(searchLocation)">
        {{ getFullStringOfLocation(searchLocation) }}
      </div>
    </div>
  </div>

  <div *ngIf="showNoLocationsMessage" class="alert alert-primary mt-4">
    We couldn't find any cities with that name.
  </div>
</div>
