.property-listing-item {
  cursor: pointer;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
  row-gap: 36px;
}

@media only screen and (max-width: 1199px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 575px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 429px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
