<div *ngIf="listings">
  <div class="grid mb-4">
    <a [routerLink]="[]" [queryParams]="{ property: property.propertyId }" [queryParamsHandling]="'merge'"
      class="property-listing-item" *ngFor="let property of listings; let i = index;">
      <app-property-thumbnail [property]="property" [ngClass]="{ 'active': property.propertyId === selectedId }"
        (click)="onThumbnailClick(property.propertyId)">
      </app-property-thumbnail>
    </a>
  </div>
</div>

<div class="grid">
  <app-property-thumbnail-placeholder *ngFor="let item of placeholderItems">
  </app-property-thumbnail-placeholder>
</div>
