<div class="d-flex h-100">
  <div id="left">
    <app-screener-map [listings]="listings" [searchLocation]="screenSearch?.location"
      (markerClick)="updateSelection($event)" [selectedListingId]="selectedListingId"></app-screener-map>
  </div>
  <div id="right" class="pt-4 d-flex flex-column h-100">
    <app-main-navbar class="px-xl-5 px-lg-4 px-md-4 px-3"></app-main-navbar>

    <div class="listings-container d-flex flex-column" style="min-height: 0;">
      <div *ngIf="isLoading">
        <div class="loader-container">
        </div>
        <app-spinner class="d-block loading-icon"></app-spinner>
      </div>

      <app-screener-filter class="regular-filter-window d-block px-xl-5 p-lg-4 px-md-4 py-4 px-3"
        [ngClass]="{ 'full-filter-window': showFullFilterWindow }" (onNewListings)="newListings($event)"
        (screenSearchUpdated)="screenSearchUpdated($event)" (fullFilterWindowOpened)="onOpenFullFilterWindow()"
        (fullFilterWindowClosed)="onCloseFullFilterWindow()" [listings]="listings"
        (fetchingData)="updateLoadingStatus($event)">
      </app-screener-filter>
      <div style="overflow-y: auto;">
        <app-screener-property-listings class="flex-fill d-block px-xl-5 p-lg-4 px-md-4 py-4 px-3" [listings]="listings"
          [selectedId]="selectedListingId" (thumbnailHover)="updateSelection($event)">
        </app-screener-property-listings>
      </div>
    </div>
  </div>
</div>
