<div class="d-flex flex-column align-items-center">
  <app-quiz-completed-message class="d-block mb-5" *ngIf="quiz.completed"></app-quiz-completed-message>
  <app-quiz-question-chooser *ngIf="!quiz.completed" class="d-block mb-5 w-100" [quiz]="quiz">
  </app-quiz-question-chooser>
  <app-quiz-navigation-buttons *ngIf="!quiz.completed" class="d-block mb-5" [quiz]="quiz"></app-quiz-navigation-buttons>
  <div style="max-width: 400px; width: 100%">
    <app-quiz-progress [quiz]="quiz"></app-quiz-progress>
  </div>
</div>
