.property-img-placeholder {
  background-color: var(--placeholder-color);
  border-radius: var(--border-radius);
  width: 100%;
  padding-top: 75%;
}

.text-placeholder {
  line-height: 1;
  background-color: var(--placeholder-color);
  border-radius: var(--border-radius);
}
